/*

Add styles or override variables from the theme here.

*/


$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: () !default;
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

$primary:       #1a2a4b !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$important:     #fdf3cb !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "important":  $yellow,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

$td-sidebar-bg-color: #212529;
$link-color: #98d6fd;
$link-hover-color: #dee2e6;

$td-sidebar-tree-root-color: #98d6fd;
$td-sidebar-border-color: #dee2e6;

$pagination-color: #dee2e6;
$pagination-disabled-color: #dee2e6;

$navbar-dark-color: #ecebc9;
$navbar-dark-active-color: #dee2e6;
$navbar-light-brand-color: #ecebc9;
$navbar-dark-brand-color: #ecebc9;

$card-bg: #1b1f22;

$table-color: #dee2e6;

$dark: #212529;

body {
    color: #dee2e6;
    background-color: #212529;
}

footer {
    background-color: #212529;
}

bg-dark {
    background-color: #212529;
}

container-fluid {
    background-color: #212529;
}

main {
    color: #dee2e6;
    background-color: #212529;
}

aside {
    color: #dee2e6;
    background-color: #212529;
}

td-main {
    color: #dee2e6;
}

td-breadcrumbs {
    color: #dee2e6;
}

td-sidebar {
    color: #dee2e6;
}

btn-link {
    color: #dee2e6;
}

td-search {
    color: #dee2e6;
}

td-sidebar-menu {
    color: #dee2e6;
}

.td-toc #TableOfContents a {
    color: #dee2e6;
}

.alert-icon {
    font-size: 20px;
    position: absolute;
    margin-left: -54px;
    margin-top: -36px;
}