---
title: About FG's Modlists
linkTitle: Credits
menu:
  main:
    weight: 5

---


{{< blocks/cover title="Credits & Thanks" image_anchor="bottom" height="min" >}}

<p class="lead mt-5">FG's Modlists wouldn't be possible without these people. Thank you!
</p>

{{< /blocks/cover >}}

{{< blocks/section color="fggray" >}}
{{% blocks/feature icon="none" title="FG’s Modlists created by ForgottenGlory" %}}
{{% /blocks/feature %}}

{{% blocks/feature icon="none" title="FG’s Modlists Administrators" %}}
celadoneiron

Dace617

GravenImages

Vyra
{{% /blocks/feature %}}

{{% blocks/feature icon="none" title="FG’s Modlists Dev Team" %}}
Astrid

Hajo

Alabast

Dr.Frosty

Eikonoklaste

LunaPapilio

Day7

sweinen

𝔐𝔦𝔰𝔰 ℭ𝔬𝔯𝔯𝔲𝔭𝔱𝔦𝔬𝔫 [腐敗少女]

zarantha
{{% /blocks/feature %}}

{{% blocks/feature icon="none" title="FG’s Modlists Discord Staff" %}}
Alabast

Aronax

Chanka

Deadbeat-Senpai

Flora

MaiNeym

Mr. Horny

Rhone

Sae the Intern

scraunch

Sean Misses Scotch

Tamara

The Arcane Archer

Warden
{{% /blocks/feature %}}

{{% blocks/feature icon="none" title="Contributors & Beta Testers" %}}
Patchier

DwarfDude

Qwerrecd

Timboman

Vyktory

Total

Dispo

Dracosaber

Sentrus

Nechrion

Xanza

tjbassoon
{{% /blocks/feature %}}

{{% blocks/feature icon="none" title="Halgari & The Wabbajack Team" %}}
Thank you for creating Wabbajack, you’re amazing!

[Halgari’s Patreon](https://www.patreon.com/user?u=11907933)
{{% /blocks/feature %}}

{{% blocks/feature icon="none" title="Special Thanks" %}}
The TUCO Modding Team - Their modlist is a great way to get a Vanilla+ experience with a tutorial that is extremely helpful for learning the basics of creating a modlist.

DarkLadyLexy - Her LotD list is an invaluable resource not only for an awesome modlist, but also for learning many fundamentals of modding and compiling a modlist.

EzioTheDeadPoet - For their SME(FT) modlist. The ability to start from scratch on a whim while building this list has been invaluable.

My Patreon patrons.
{{% /blocks/feature %}}

{{% blocks/feature icon="none" title="Mod Authors" %}}

None of this would be possible without the people who make the quality content we’ve grown to know and love. Please endorse the authors’ works.
{{% /blocks/feature %}}


{{< /blocks/section >}}
