---
title: About FG's Modlists
linkTitle: Credits
menu:
  main:
    weight: 5

---


{{< blocks/cover title="Credits & Thanks" image_anchor="bottom" height="min" >}}

<p class="lead mt-5">FG's Modlists wouldn't be possible without these people. Thank you!
</p>

{{< /blocks/cover >}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="none" %}}
<ul align="left">
  <li>FG&#39;s Modlists created by ForgottenGlory</li>
  <li>FG&#39;s Modlists Administrators<ul>
  <li>celadoneiron</li>
  <li>Dace617</li>
  <li>GravenImages</li>
  <li>Vyra</li>
  </ul>
  </li>
  <li>FG&#39;s Modlists Dev Team:<ul>
  <li>Astrid</li>
  <li>Hajo</li>
  <li>Alabast</li>
  <li>Dr.Frosty</li>
  <li>Eikonoklaste</li>
  <li>LunaPapilio</li>
  <li>Day7</li>
  <li>sweinen</li>
  <li>𝔐𝔦𝔰𝔰 ℭ𝔬𝔯𝔯𝔲𝔭𝔱𝔦𝔬𝔫 [腐敗少女]</li>
  <li>zarantha</li>
  </ul>
  </li>
  <li>FG&#39;s Modlists Discord Staff:<ul>
  <li>Aronax</li>
  <li>Chanka</li>
  <li>Deadbeat-Senpai</li>
  <li>Flora</li>
  <li>MaiNeym</li>
  <li>Mr. Horny</li>
  <li>Rhone</li>
  <li>Sae the Intern</li>
  <li>scraunch</li>
  <li>Sean Misses Scotch</li>
  <li>Tamara</li>
  <li>The Arcane Archer</li>
  <li>Warden</li>
  </ul>
  </li>
{{% /blocks/feature %}}

{{% blocks/feature icon="none" %}}
<li align="left">Contributors &amp; Beta Testers:<ul align="left">
  <li>Patchier</li>
  <li>DwarfDude</li>
  <li>Qwerrecd</li>
  <li>Timboman</li>
  <li>Vyktory</li>
  <li>Total</li>
  <li>Dispo</li>
  <li>Dracosaber</li>
  <li>Sentrus</li>
  <li>Nechrion</li>
  <li>Xanza</li>
  <li>tjbassoon</li>
  </ul>
  </li>
  {{% /blocks/feature %}}

{{% blocks/feature icon="none" %}}
  <li align="left">Halgari &amp; The Wabbajack Team<ul align="left">
  <li>Thank you for creating Wabbajack, you’re amazing!</li>
  <li>Halgari’s <a href="https://www.patreon.com/user?u=11907933">Patreon</a></li>
  </ul>
  </li>
  <li align="left">Special Thanks
  <ul align="left">
  <li>The TUCO Modding Team - Their modlist is a great way to get a Vanilla+ experience with a tutorial that is extremely helpful for learning the basics of creating a modlist.</li>
  <li>DarkLadyLexy - Her <a href="https://lexyslotd.com/">LotD list</a> is an invaluable resource not only for an awesome modlist, but also for learning many fundamentals of modding and compiling a modlist.</li>
  <li>EzioTheDeadPoet - For their SME(FT) modlist. The ability to start from scratch on a whim while building this list has been invaluable.<ul>
  <li align="left">My Patreon patrons.</li>
  </ul>
  </li>
  </ul>
  </li>
  <li align="left">Mod Authors<ul align="left">
  <li>None of this would be possible without the people who make the quality content we’ve grown to know and love. Please endorse the authors’ works.</li>
  </ul>
  </li>
  </ul>

  {{% /blocks/feature %}}
{{< /blocks/section >}}
