{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">ForgottenGlory's Modlists</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">The official website for all things related to FG's modlists.</p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-left">
        <div class="col-lg-5">
          <a href="\livingskyrim"><img src="images\LS3ResizedSmallLogo.webp" style='width: 100%; object-fit: contain'/></a>
          <h2 class="h4"><a href="\livingskyrim">Living Skyrim</a></h2>
          <p>ForgottenGlory's flagship modlist, Living Skyrim, is a full-featured overhaul of Skyrim SE with the intent to breathe life into the often empty areas of the world. NPCs, quests, new worldspaces, and interactive content are the focus of this modlist. All of this on top of a beautiful graphics package.</p>
        </div>
        <div class="col-lg-5">
          <a href="\moise"><img src="images\MOISEResizedSmallLogo.webp" style='width: 100%; object-fit: contain'/></a>
          <h2 class="h4"><a href="\moise">MOISE</a></h2>
          <p>Morrowind Overall Improvement Suite Enhanced (MOISE) is a basic, primarily graphical overhaul for Morrowind GOTY edition. It includes all of the necessities required to begin a Morrowind modding adventure.</p>
        </div>
        <div class="col-lg-5">
          <a href="\potd"><img src="images\POTDSmallLogo.webp" style='width: 100%; object-fit: contain'/></a>
          <h2 class="h4"><a href="\potd">Path of the Dovahkiin</a></h2>
          <p>Path of the Dovahkiin is the ultimate ARPG-in-Skyrim experience. Fast combat, Vokriinator Black, hordes of enemies, infinite loot variety, replayable dungeons, performant and pretty graphics, and of course, endless character build theorycrafting. What path will you choose, Dovahkiin?</p>
        </div>
      </div>
      <div class="row justify-content-center text-left">
        <div class="col-lg-5">
          <a href="\ls4roadmap"><img src="\images\LS4Logo.png" style='width: 100%; object-fit: contain'/></a>
          <h2 class="h4"><a href="\ls4roadmap">Living Skyrim</a></h2>
          <p>Living Skyrim 4 is coming, either at the end of 2022 or early 2023. Click the logo above to see the latest roadmap.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
