+++
title = "FG's Modlists"
linkTitle = "FG's Modlists"

+++

{{< blocks/cover title="" image_anchor="top" height="full" color="dark" >}}
<div style="background-color: rgba(33, 37, 41, 0.6);" class="mx-auto">
	<p style="padding-top: 30px;" class="lead mt-5"><img src="images\FGLogoWhiteSmall.png" style='width: 50%; object-fit: contain'/></br></br>
	Welcome to the official documentation website for FG's Modlists!<br><br>
	Come join our community!
	<div style="padding-bottom: 30px;" class="row justify-content-center text-center">
		<div class="col-lg-5">
			<a href="https://discord.gg/WKZgPuxvHS" style="padding-right: 30px">Discord</a>
			<a href="https://forum.fgsmodlists.com/index.php" style="padding-right: 30px">Forum</a>
			<a href="https://wiki.fgsmodlists.com/">Wiki</a>
		</div>
	</div>

	Or, click a logo below to be taken to the documentation for that modlist.</p>

	<div style="padding-bottom: 30px;" class="row justify-content-center text-left">
	<div class="col-lg-5">
		<a href="\docs\living-skyrim"><img src="\images\LS4LogoSmall.png" style='width: 100%; object-fit: contain'/></a>
	</div>
	<div class="col-lg-5">
		<a href="\docs\moise"><img src="images\MOISEResizedSmallLogo.webp" style='width: 100%; object-fit: contain'/></a>
	</div>
	<div class="col-lg-5">
		<a href="\docs\masterstroke"><img src="\images\MasterstrokeGreenWhiteSplash.png" style='width: 100%; object-fit: contain'/></a>
	</div>
	<div class="col-lg-5">
		<a href="\docs\potd"><img src="images\POTDPNG.webp" style='width: 100%; object-fit: contain'/></a>
	</div>
	<div class="col-lg-5">
		<br>
		<a href="\docs\ssee"><img src="images\SSEELogo.png" style='width: 100%; object-fit: contain'/></a>
	</div>
	<div class="col-lg-5">
		<br>
		<a href="\docs\empyrean"><img src="images\EmpyreanSmall.png" style='width: 100%; object-fit: contain'/></a>
	</div>
</div>

	

</div>
{{< /blocks/cover >}}

{{< blocks/section color="fggray" >}}
{{% blocks/feature icon="none" title="" %}}
{{% /blocks/feature %}}
{{% blocks/feature icon="none" title="Upcoming Modlists" %}}
These modlists will be available sometime in the future.
{{% /blocks/feature %}}
{{% blocks/feature icon="none" %}}
{{% /blocks/feature %}}
{{% blocks/feature icon="none" title="Atelier 2"%}}
Estimated Release: July 2023

Atelier is a Skyrim Special Edition modlist focused on one thing and one thing only: being beautiful. It is a screen archer's paradise. It is an extremely high quality graphics and bug fixes only modlist intended as either a base to build from or a screen archer's playground.

<img src="images/Atelier2LogoSmall.png" style='width: 100%; object-fit: contain'/>
{{% /blocks/feature %}}
{{% blocks/feature icon="none" title="Silent Skyrim" %}}
Estimated Release: October 2023

Enter a world of horror and madness with our Silent Hill-inspired modlist for Skyrim Special Edition. From foggy streets to terrifying creatures, experience a spine-chilling adventure that will leave you on the edge of your seat.

<img src="images/SmallSilentSkyrimLogo.webp" style='width: 100%; object-fit: contain'/>
{{% /blocks/feature %}}
{{% blocks/feature icon="none" title="Immurshun" %}}
Estimated Release: Q2 2024

"Immerse" yourself in hilarious chaos with our Immurshun modlist for Skyrim Special Edition. From absurdly funny NPCs to outrageous weapons, experience a wild adventure that doesn't take itself too seriously.

<img src="images/immurshunsmall.png" style='width: 100%; object-fit: contain'/>
{{% /blocks/feature %}}
{{% blocks/feature icon="none" title="Zenithar's Forge" %}}
Estimated Release: Q4 2024

Forge your own path in a realistic and immersive world with Zenithar's Forge, a modlist for Skyrim Special Edition. From realistic crafting to in-depth trade mechanics, experience the challenges and rewards of being a skilled tradesperson or forged-in-fire veteran in this unique and engaging roleplaying adventure.

<img src="images/ZFSmall.png" style='width: 100%; object-fit: contain'/>
{{% /blocks/feature %}}
{{% blocks/feature icon="none" %}}
{{% /blocks/feature %}}
{{< /blocks/section >}}

{{< blocks/section color="primary" >}}
{{% blocks/feature icon="none" title="" %}}
{{% /blocks/feature %}}
{{% blocks/feature icon="none" title="Archived Modlists" %}}
These lists are no longer available to be installed, but their documentation is available here. Click a logo to be taken to the documentation for that list.
{{% /blocks/feature %}}
{{% blocks/feature icon="none" %}}
{{% /blocks/feature %}}
{{% blocks/feature icon="none" %}}
{{% /blocks/feature %}}
{{% blocks/feature icon="none" title="Living Skyrim 3" %}}
<a href="\docs\living-skyrim-3"><img src="images/LS3ResizedSmallLogo.webp" style='width: 100%; object-fit: contain'/></a>
{{% /blocks/feature %}}

{{< /blocks/section >}}